.testimonials {
    padding: 200px 0;
}

.testimonials article * { 
    margin: 0;
    padding: 0;
}

.testimonials article.left {
    text-align: left;
    margin-left: 30px;
}

.testimonials article.right {
    text-align: right;
    margin-right: 30px;
}

.testimonials article blockquote {
    margin-bottom:20px;
}

.ann-img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.overlay--soft::after { 
    background-color: rgba(0, 0, 0, .35);
}

.parallax {
    background-attachment: fixed;
}

.title-caption { 
    font-size:.8rem;
    margin:0; 
    padding:0; 
    list-style:none;
}

.one_half {
    float:left; 
    margin:0 0 0 3.06748466257669%; 
    list-style:none;
    width:48.46625766871166%;
}

.one_half:first-child {
    margin-left:0; 
    clear:left;
}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
.pageintro {
    padding:200px 0; 
    text-align:center;
}
.pageintro * {
    word-wrap:break-word;
}
.pageintro .heading {
    margin-bottom:20px; 
    font-size:5rem; 
    font-weight:400;
}
.pageintro p {
    font-size:1.2rem;
}

@media screen and (max-width:750px) {
    .pageintro .heading {
        font-size:2rem;
    }

    .one_half {
        display:block; 
        float:none; 
        width:auto; 
        margin:0 0 50px 0; 
        padding:0;
    }
}