.topbar a:hover i::before,
.topbar a:hover i::after {
    transition: none;
}

.topbar {
    padding:15px 0; 
    font-size:.8rem; 
    text-transform:uppercase; 
    text-align:center;
}

.topbar * {
    margin:0; 
    padding:0; 
    list-style:none;
}

.topbar ul li {
    display:inline-block; 
    margin-right:10px; 
    padding-right:15px; 
    border-right:1px solid;
    border-color:rgba(255,255,255,.2);
}

.topbar ul li:last-child {
    margin-right:0; 
    padding-right:0; 
    border-right:none;
}
