.footer {
    padding: 40px 0;
}

.footer .heading {
    margin-bottom:50px; 
    font-size:1.2rem;
    color:#FFFFFF;
}

.footer .linklist li {
    display:block; 
    margin-bottom:15px; 
    padding:0 0 15px 40px; 
    border-bottom:1px solid;
    border-color:rgba(255,255,255,.1);
    position:relative;
}
.footer .linklist li:last-child {
    margin: 0; 
    padding:0 0 0 40px; 
    border:none;
}

.footer #contact-me {
    text-align: center;
}

.footer .one_centered_block {
    width: 55%;
    margin: 0 auto;
}

.footer .list-with-img ul {
    float: left;
    width: 50%;
    margin-right: 10px;
    padding: 0;
}

.footer .list-with-img img {
    float: left;
    width: calc(50% - 10px);
    opacity: 0.6;
}

.backtotop {
    z-index:999; display:inline-block; 
    position:fixed; 
    bottom:20px; 
    right:20px; 
    width:36px; 
    height:36px; 
    line-height:36px; 
    font-size:16px; 
    text-align:center; 
    opacity:.2;
    color:#FFFFFF; 
    background-color:#EA5616;
}

.backtotop i {
    display:block;
    width:100%; 
    height:100%; 
    line-height:inherit;
}

.backtotop:hover {
    opacity:1;
}


.copyright {
    padding:20px 0;
}

.copyright * {
    margin:0; 
    padding:0;
}

@media screen and (max-width:750px){
    .footer {
        padding-bottom:30px;
    }
    
    .footer .one_centered_block {
        width: 75%;
    }
}

@media screen and (max-width:550px){
    .footer .one_centered_block {
        width: 100%;
    }
}

@media screen and (max-width:415px){
    .footer .one_centered_block,
    .footer .list-with-img ul,
    .footer .list-with-img img {
        width: 100%;
    }
}

@media screen and (max-width:900px){
	.copyright p:first-of-type{margin-bottom:10px;}
}