#gallery li {
    background-color: black;
    overflow-y: hidden;
}

#gallery li.vertical img {
    transform: rotate(90deg);
}

#gallery li.vertical a {
    transform: rotate(90deg) scale(0.9);
}

/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery li{margin-bottom:30px;}