.gallery {
    display:block; 
    width:100%; 
    margin-bottom:50px;
}

.gallery li {
    background-color: black;
    overflow-y: hidden;
    margin-bottom:30px;
}

.gallery li.vertical img {
    transform: rotate(90deg);
}

.gallery li.vertical a {
    transform: rotate(90deg) scale(0.9);
}